
@font-face {
  font-family: 'Graduate';
  src: url('GRADUATE.eot?#iefix') format('embedded-opentype'),  url('GRADUATE.woff') format('woff'), url('GRADUATE.ttf')  format('truetype'), url('GRADUATE.svg#GRADUATE') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
