<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" type="text/css" href="/public/fonts/graduate/font.css")
    link(rel="stylesheet" type="text/css" href="/public/fonts/inter/font.css")
    link(rel="stylesheet" href="/public/stylesheets/index.styl")
    title Document
  body
    #app
      .container(:class='{"settings-active": settingsToggle}')
        router-view
        #button-row
          .section-group
            router-link(to='/').button
              include public/images/Icon/Clock.svg
              span Clock
            router-link(to='/timer').button
              include public/images/Icon/Timer.svg
              span Timer
            router-link(to='/stopwatch').button
              include public/images/Icon/Stopwatch.svg
              span Stopwatch
            router-link(to='/alarm').button
              include public/images/Icon/Alarm.svg
              span Alarm
            router-link(to='/pomodoro').button
              include public/images/Icon/Pomodoro.svg
              span Pomodoro
            router-link(to='/interval').button
              include public/images/Icon/Interval.svg
              span Interval
          .section-group
            a
              include public/images/Icon/baseline-fullscreen-24px.svg
            a(@click="toggleSettings")
              include public/images/Icon/twotone-settings-24px.svg
      settings    
    script(src="/public/scripts/index.js")