<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=0.2")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="/public/stylesheets/reset.styl")
    link(rel="stylesheet" type="text/css" href="/public/fonts/graduate/font.css")
    link(rel="stylesheet" type="text/css" href="/public/fonts/inter/font.css")
    link(rel="stylesheet" href="/public/stylesheets/index.styl")
    title Clock In
  body
    #app(:class="{'alert': alert}")
      audio#alert(v-if="alert")
        source(src="/public/audio/alert_simple.ogg" type="audio/ogg")
        source(src="/public/audio/alert_simple.mp3" type="audio/mpeg")
      .container(:class='{"settings-active": settingsToggle}')
        transition(name="section" mode="out-in")
          router-view
        #button-row
          .section-group
            router-link(to='/').button
              img.icon(src='/public/images/Icon/Clock.svg' alt='Clock Icon')
              img.icon--selected(src='/public/images/Icon/ClockSelected.svg' alt='Clock Icon')
              span Clock
            router-link(to='/timer').button
              img.icon(src='/public/images/Icon/Timer.svg' alt='Timer Icon')
              img.icon--selected(src='/public/images/Icon/TimerSelected.svg' alt='Timer Icon')
              span Timer
            router-link(to='/stopwatch').button
              img.icon(src='/public/images/Icon/Stopwatch.svg' alt='Stopwatch Icon')
              img.icon--selected(src='/public/images/Icon/StopwatchSelected.svg' alt='Stopwatch Icon')
              span Stopwatch
            router-link(to='/alarm').button
              img.icon(src='/public/images/Icon/Alarm.svg' alt='Alarm Icon')
              img.icon--selected(src='/public/images/Icon/AlarmSelected.svg' alt='Alarm Icon')
              span Alarm
            router-link(to='/pomodoro').button
              img.icon(src='/public/images/Icon/Pomodoro.svg' alt='Pomodoro Icon')
              img.icon--selected(src='/public/images/Icon/PomodoroSelected.svg' alt='Pomodoro Icon')
              span Pomodoro
            router-link(to='/interval').button
              img.icon(src='/public/images/Icon/Interval.svg' alt='Interval Icon')
              img.icon--selected(src='/public/images/Icon/IntervalSelected.svg' alt='Interval Icon')
              span Interval
          .section-group
            a.icon(@click="toggleFullscreen")
              img(src='/public/images/Icon/baseline-fullscreen-24px.svg' alt='Fullscreen Icon')
            a.icon(@click="toggleSettings")
              img(src='/public/images/Icon/twotone-settings-24px.svg' alt='Settings Icon')
      settings    
    script(src="/public/scripts/index.js")