<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" type="text/css" href="/public/fonts/graduate/font.css")
    link(rel="stylesheet" type="text/css" href="/public/fonts/inter/font.css")
    link(rel="stylesheet" href="/public/stylesheets/index.styl")
    title Document
  body
    #app
      .container
        #border
          include public/images/border.svg
        #meridiem PM
        #clock
          div.number 1
          div.number 2
          div.colon :
          div.number 3
          div.number 4
        #button-row
          .section-group
            .button
              include public/images/Icon/Clock.svg
              span Clock
            .button
              include public/images/Icon/Timer.svg
              span Timer
            .button
              include public/images/Icon/Stopwatch.svg
              span Stopwatch
            .button
              include public/images/Icon/Alarm.svg
              span Alarm
            .button
              include public/images/Icon/Pomodoro.svg
              span Pomodoro
            .button
              include public/images/Icon/Interval.svg
              span Interval
          .section-group
            include public/images/Icon/baseline-fullscreen-24px.svg
            include public/images/Icon/twotone-settings-24px.svg
          
    script(src="/public/scripts/index.js")