@import '_variables'

#seconds
  grid-row: 3 / 4
  grid-column: 23 / -1
  display: flex
  justify-content: center
  text-align: center
  color: bgColor
  font-family: 'Graduate', sans-serif
  font-size: 4em
  line-height: 1em
  font-variation-settings: "XOPQ" 40, "XTRA" 100, "OPSZ" 12, "GRAD" 20, "YTRA" 850, "CNTR" 100, "YOPQ" 100, "SERF" 0, "YTAS" 0, "YTLC" 650, "YTDE" 0, "SELE" 0
  will-change: auto
  -webkit-transform: translateX(0)
  div
    width: 0.625em
    -webkit-transform: translateX(0)

#meridiem
  grid-row: 8 / 10
  grid-column: 23 / 25
  display: flex
  justify-content: center
  align-items: center
  font-weight: bold
  color: bgColor
  text-align: center
  font-size: 3em
  letter-spacing: 0.1em