.constant-section
  grid-row: 4 / -1 
  grid-column: 4 / 10 
.variable-section
  grid-row: 3 / -1 
  grid-column: 12 / 22
  img.icon
    cursor: pointer
    height: 3em
.section-header
  display: flex
  justify-content: space-between
  // align-items: center

.input.input--interval
  margin-top: 3em
  // grid-row: 5 / 8 
  // grid-column: 4 / 10
  padding-right: 1em
  &[disabled]
    background: gray900
  input#input
    font-size: 5em
    text-align: right
    &[disabled]
      color: gray700

#clock.clock-interval
  grid-row: 4 / 10
  grid-column: 3 / 23
  div
    font-size: 26em
    line-height: 1em

.repeatInterval
  margin-top: 2em
  span
    font-size: 2em
    text-transform: uppercase
  input
    display: inline-block
    margin: 0 1em
    padding: 0 0.5em
    width: 2em
    font-size: 2em
    background: gray100
    color: gray900
    font-weight: bold
    font-family: inherit
    border: none
    &[disabled]
      background: gray900
      color: gray700

ul.variableIntervals
  background: tertiaryColor
  margin-top: 1em
  padding: 1em
  height: 23em
  border-radius: 1em
  overflow-y: auto
  box-sizing: border-box
  &[disabled]
    background: gray900
    color: gray700
  &.invalid
    border: 1em solid mainColor
  li
    display: flex
    justify-content: flex-end
    padding: 0.125em
    // &:nth-of-type(2n)
    //   background: black
    input
      margin-right: 0.5em
      padding 0 0.5em
      background: transparent
      color: gray900
      font-family: 'Graduate', sans-serif
      font-variation-settings: "XOPQ" 40, "XTRA" 100, "OPSZ" 12, "GRAD" 20, "YTRA" 850, "CNTR" 100, "YOPQ" 100, "SERF" 0, "YTAS" 0, "YTLC" 650, "YTDE" 0, "SELE" 0
      border: none
      font-size: 2.5em
      text-align: right
      line-height: 0
      &[disabled]
        background: gray900
        color: gray700

label.intervalRadio
  position: relative
  height: 3em
  // width 8em
  cursor: pointer
  input
    position: absolute
    height: 3em
    width: 3em
    clip-path: polygon(0 0)
  span.text
    margin-left: 2.5em
    font-size: 2em
    font-weight: bold
    text-transform: uppercase
  span.input
    position: absolute
    top: 0
    margin-left: 0em
    margin-top: -0.5em
    &::before
      box-sizing: border-box
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      height: 3em
      width: 3em
      border: 0.25em solid mainColor
      border-radius: 4em
      transition: background-color 500ms sharpEase
    &::after
      content: ''
      display: block
      position: absolute
      top: 1.5em
      left: 1.5em
      height: 0em
      width: 0em
      border-radius: 4em
      background: bgColor
      transition: 500ms sharpEase
  & > input:checked + span::before
    background: secondaryColor
  & > input:checked + span::after
    height: 1.5em
    width: 1.5em
    top: 0.75em
    left: 0.75em
    background: mainColor