@import '_variables'

.section-container.green
  color: green500
  #fab
    background: green500

#pomodoroPreview
  grid-row: 4 / 10
  grid-column: 3 / 23
  div
    font-size: 24em
    // line-height: 1.17em

#clock.clock-pomodoro
  grid-row: 4 / 10
  grid-column: 3 / 23
  div
    font-size: 26em
    line-height: 1em