@import '_variables'

#stopwatchTime
  grid-row: 5 / 8
  grid-column: 4 / 15
  div
    font-size: 11.5em
    line-height: 1em

#milliseconds
  grid-row: 8 / 10
  grid-column: 13 / 15
  justify-content: flex-end
  div
    font-size: 4em
    line-height: 1em

.lap-section
  grid-row: 3 / -1
  grid-column: 16 / 22
  overflow-y: scroll
  &_header
    background: mainColor
    color: bgColor
    height: 3em
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    border-radius: 1em 1em 0 0
    h2
      font-size: 2em
  table
    margin-top: 1em
    tr
      height: 3em
      text-align: right
    td#lapNumber
      font-weight: bold
      font-size: 2em
      vertical-align: baseline
      width: 1.5em
    td#lapTime
      margin-left: 1em
      font-size: 2em