@import '_variables'

div div.number.tick
  &-enter-active
    transition: -webkit-transform 1000ms cubic-bezier(0,1,0,1), opacity 0s, font-variation-settings 1000ms cubic-bezier(0,1,0,1)
  &-leave-active
    position: absolute
    opacity: 0
  &-enter
    font-variation-settings: "XOPQ" 150, "XTRA" 100, "OPSZ" 16, "GRAD" 12, "YTRA" 850, "CNTR" 100, "YOPQ" 100, "SERF" 0, "YTAS" 0, "YTLC" 650, "YTDE" 0, "SELE" 0
    -webkit-transform: translateY(0.0625em)

#seconds div.tick
  &-enter-active
    transition: -webkit-transform 1000ms cubic-bezier(0,1,0,1), opacity 0s
  &-leave-active
    position: absolute
    opacity: 0
  &-enter
    -webkit-transform: translateY(0.0625em)

#clock.bolden
  &-enter-active
    transition: 500ms cubic-bezier(.25,.5,.5,1)
  &-enter
    font-variation-settings: "XOPQ" 40, "XTRA" 100, "OPSZ" 12, "GRAD" 20, "YTRA" 850, "CNTR" 100, "YOPQ" 100, "SERF" 0, "YTAS" 0, "YTLC" 650, "YTDE" 0, "SELE" 0

.container .section-container.section
  &-enter-active
    transition: -webkit-transform 1000ms cubic-bezier(0,1,0,1)
  &-leave-active
    transition: 0ms
  &-enter
    -webkit-transform: translateX(1em)
  &-leave-to
    opacity: 0

// change

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

@keyframes alert
  0%
    background: mainColor
  50%
    background: bgColor

@keyframes alert-text
  0%
    color: mainColor
  50%
    color: bgColor