@import 'transitions'
@import 'variables'

body
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  background: bgColor
  color: mainColor
  font-family: 'Inter', sans-serif

@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif }
}

#app
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  width: 100vw
  &.alert
    animation: alert 2s steps(1, end) infinite

@keyframes alert
  0%
    background: mainColor
  50%
    background: bgColor

.container
  display: grid
  grid-template-rows: repeat(12, 3em)
  grid-template-columns: repeat(24, 3em)
  grid-gap: 1em 1.5em
  gap: 1em 1.5em
  font-size: 16px
  &.settings-active
    // justify-self: start
    transform: scale(0.5)
  .section-container
    grid-row: 1 / 10
    grid-column: 1 / -1
    display: grid
    grid-template-rows: repeat(9, 3em)
    grid-template-columns: repeat(24, 3em)
    grid-gap: 1em 1.5em
    gap: 1em 1.5em
    font-size: 16px
    will-change: auto
    -webkit-transform: translateX(0)

#header
  grid-row: 2 / 4
  grid-column: 4 / 22
  display: flex
  align-items: center
  img
    margin-right: 1em
  h2
    text-transform: uppercase
    font-weight: bold
    font-size: 3em

#clock
  grid-row: 2 / 10
  grid-column: 3 / 23
  margin-left: -0.0825em
  display: flex
  justify-content: center
  flex-direction: row
  font-family: 'Graduate', sans-serif
  font-size: 32em
  text-align: center
  font-variation-settings: "XOPQ" 150, "XTRA" 100, "OPSZ" 16, "GRAD" 20, "YTRA" 850, "CNTR" 100, "YOPQ" 100, "SERF" 0, "YTAS" 0, "YTLC" 650, "YTDE" 0, "SELE" 0
  &.alert
    animation: alert-text 2s steps(1, start) infinite
  div 
    flex-grow: 0
    flex-shrink: 0
    line-height: 1.17em
    will-change: -webkit-transform
    -webkit-transform: translateX(0)
    &.number
      width: 0.6em
    &.colon
      width: 0.3em
      text-align: right

@keyframes alert-text
  0%
    color: mainColor
  50%
    color: bgColor

#seconds
  grid-row: 3 / 4
  grid-column: 23 / -1
  display: flex
  justify-content: center
  text-align: center
  color: bgColor
  font-family: 'Graduate', sans-serif
  font-size: 4em
  line-height: 1em
  font-variation-settings: "XOPQ" 40, "XTRA" 100, "OPSZ" 12, "GRAD" 20, "YTRA" 850, "CNTR" 100, "YOPQ" 100, "SERF" 0, "YTAS" 0, "YTLC" 650, "YTDE" 0, "SELE" 0
  will-change: auto
  -webkit-transform: translateX(0)
  div
    width: 0.625em
    -webkit-transform: translateX(0)

#border, #outlineBorder
  grid-row: 1 / 10
  grid-column: 1 / -1
  transition: clip-path 100ms linear
  pointer-events: none
  svg
    height: 100%
    width: 100%

#outlineBorder
  z-index: -1
  // background: url('../images/pattern.svg')

#meridiem
  grid-row: 8 / 10
  grid-column: 23 / 25
  display: flex
  justify-content: center
  align-items: center
  font-weight: bold
  color: bgColor
  text-align: center
  font-size: 3em
  letter-spacing: 0.1em

#button-row
  grid-row: 11 / -1
  grid-column: 1 / -1
  display: flex
  justify-content: space-between
  .section-group
    display: flex
    align-items: center
    svg
      padding: 0 1.5em

a.button
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  box-sizing: border-box
  height: 7em
  width: 12em
  margin-right: 1em
  background: bgColor
  color: mainColor
  font-weight: bold
  text-transform: uppercase
  border: 0.25em solid mainColor
  border-radius: 1em
  text-decoration: none
  img
    height: 3em
    width: 3em
    &.icon--selected
      display: none
  span
    font-size: 1.5em
    line-height: 1.5
  &.router-link-exact-active
    background: mainColor
    color: bgColor
    img
      &.icon
        display: none
        &--selected
          display: block

#input
  grid-row: 4 / -1
  grid-column: 4 / 22
  padding-right: 2em
  background-color: secondaryColor
  border-radius: 1rem
  input
    background: transparent
    color: tertiaryColor
    height: 100%
    width: 100%
    font-family: 'Graduate', sans-serif
    font-size: 16em
    text-align: right
    font-variation-settings: "XOPQ" 40, "XTRA" 100, "OPSZ" 12, "GRAD" 20, "YTRA" 850, "CNTR" 100, "YOPQ" 100, "SERF" 0, "YTAS" 0, "YTLC" 650, "YTDE" 0, "SELE" 0
    border: none

#fab
  grid-row: 5 / 7
  grid-column: 23 / -1
  display: flex
  justify-content: center
  align-items: center
  height: 7.5em
  width: 7.5em
  background: mainColor
  border-radius: 50%
  box-shadow: 0 0 2em 1.5em bgColor
  z-index: 1
  transition: all 50ms ease-in-out
  cursor: pointer
  &:hover
    transform: scale(1.1)
    background: lighten(mainColor, 25%)
  &:active
    transform: scale(0.9)
    box-shadow: 0 0 0 1.5em bgColor
    background: mainColor
  img
    height: 5.25em
    width: 5.25em
  

.settings
  position: absolute
  top: 0
  bottom: 0
  right: 0
  width: 50%
  background: #445857
  color: white